@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/* light blue: #0099e0 */
* {
	box-sizing: border-box !important;
	-webkit-transition: width 0.2s, height 0.2s, background-color 0.2s, -webkit-transform 0.2s;
    transition: width 0.2s, height 0.2s, background-color 0.2s, transform 0.2s;
}

body {
    background-color: #000;
    margin: 0px;
    font-family: Source Sans Pro,sans-serif;;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
a, a:visited,  a:active {
	text-decoration: none;
	color: inherit;
}


.homeWrapper{
	color: #333;
	width: 100%;
	height: 100.00vh;
	background: #f1f1f1;
	margin-top: 10%;
	text-align: center;
}


.port-client-image{
	max-width: 100%;
	height: 55px;
}

.login-bg{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 0;
	margin: 0;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
}
.login-wrapper{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 5;
}
.login-filler{
	height: 45.00vh;
}
.form-box{
	box-sizing: content-box;
	margin: 0 auto;
	width: 12%;
	padding: 2px;
	text-align: center;
	height: 10.00vh;
}
.login-button{
	border: 1px solid #f7f9fa;
	border: 0px;
	height: 60px;
	width: 60px;
	background: #f7f9fa;
	color: #333;
	background-image: url(mp-login-button.png);
    background-repeat: no-repeat;
    background-position: center; 
}
.login-button:hover{
	background: #f1f1f1;
	background-image: url(mp-login-button.png);
    background-repeat: no-repeat;
    background-position: center; 
    border: 1px solid #eee;
	cursor: pointer;
}
.text-box{
	width: 100%;
	border: 1px solid #eee;
	height: 30px;
	padding: 5px;
}


.wrapper{
	width: 100%;
	height: 100.00vh;
	overflow: hidden;
	background-image: url(nav-bg.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%;
}

.main-nav {
	overflow: hidden;
	position: absolute;
	height: 100%;
	width: 80px;
	background: #333;
	float: left;
	z-index: 0;
}
.main-nav-expanded {
	width: 220px;

}
.main-container{
	min-width: calc(100%);
	width: auto;
	height: 100%;
	float: left;
	background: #f1f1f1;
	padding-left: 80px;
}
.main-container-expanded {
	padding-left: 220px;
}

.logo{
	height: 80px;
	width: 220px;
	color: #fff;
	padding: 20px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
     border-right: 1px solid rgba(255, 255, 255, 0.2);
	padding-left: 25px;
	background: #333;
	text-align: left;
	
}

.logo-text{
	-webkit-font-smoothing: antialiased;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
	text-transform: uppercase;
    padding: 5px 0px;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
}
.logo-img{
	margin-top: 4px;
	height: 30px;
	display: inline-block;
	padding-right: 25px;
	float: left;
}
.nav-entry-wrapper{
	margin-top: 20px;
	height: calc(100% - 30px);
}
.nav-entry{
	text-transform: uppercase;
	width: 220px;
	height: 80px;
	text-align: left;
	float: left;
	font-size: 14px;
    font-weight: 600;
	line-height: 50px;
	color: #f7f9fa;
	-webkit-font-smoothing: antialiased;
	font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
}
.nav-entry:hover {
	color: rgb(0,115,191);
	cursor: pointer;
}
.selected{
	width: 100%;
	height: 100%;
	line-height: 50px;
}
.selected:hover{
	background: rgba(255, 255, 255, 0.4);
	cursor: pointer;
	
}
.selected-corporate{
	width: 100%;
	height: 100%;
	line-height: 50px;
	
}
.nav-expand{
	position: relative;
	bottom: 150px;
	text-transform: uppercase;
	width: 100%;
	height: 50px;
	text-align: right;
	color: #f7f9fa;
}

.top-bar{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #e1e1e1;
	font-size: 12px;
	background: #333;
}
.top-top-bar{
	height: 80px;
	width: 88%;
	font-size: 12px;
	padding: 10px;
	padding-bottom: 2px;
	padding-left: 80px;
	display: inline-block;
	float: left;
	border-bottom: 1px solid #e1e1e1;
	background: rgba(0,115,191,1.0);
}
.top-account-bar{
	display: inline-block;
	width: 12%;
	height: 100%;
	padding: 0px;
	float: right;
	padding: 5px;
	background: rgba(0,115,191,1.0);
}
.account-box{
	margin-top: 4px;
	margin-right: 4px;
	background: #f7f9fa;
	border: 1px solid #c1c1c1;
	color: #333;
	border-radius: 5px;
}
.top-project-bar{
	
}
.icon-class{
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	line-height: 50px;
}
.entry-word{
	float: left;
}
.top-bar-box{
	display: inline-block;
	width: 10%;
	height: 60px;
	text-align: center;
	font-size: 18px;
	background: rgba(0,115,191,1.0);
}
.client-bar {
	width: 80%;
	height: 40px;
	background: #fff;
	border-bottom: 1px solid #c1c1c1;
}
.inactive {
	text-transform: uppercase;
	margin: 0 auto;
	width: 70px;
	color: #fff;
	opacity: 0.4;
	font-size: 10px;
}
.inactive:hover {
	color: #333;
	opacity: 1.0;
	cursor: pointer;
	background: #f8f8f8;
}
.active{
	color: #333;
	opacity: 1.0;
}

.client-bar-box {
	width: 70px;
	height: 60px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center; 
  		display: inline-block;
}
.performance-container {
	height: calc(100% - 80px);
	width: 100%;
	background: #f7f9fa;
	padding: 10px;
}
.pr-pie-box {
	height: 48%;
	min-height: 325px;
	width: 32%;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-top: 3px solid #7266ba;
	border-radius: 5px;
	float: left;
	text-align: center;
	margin-top: 10px;
}

.logo-box {
	height: 48%;
	min-height: 325px;
	width: 32%;
	background: #fff;
	color: #f7f9fa;
	font-size: 108px;
	font-weight: 600;
	text-transform: uppercase;
	float: left;
	position: relative;
	text-align: center;
	  		border: 1px solid #e1e1e1;
	border-top: 3px solid #0073bf;
	border-radius: 5px;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
.client-details{
	padding: 10px;
	position: absolute;
	font-size: 32px;
	background: rgba(0,115,191,0.8);
	height: 50px;
	line-height: 32px;
	width: 100%;
	bottom: 0px;
	text-align: left;
	color: #f7f9fa;
}
.apps-box {
	height: 48%;
	min-height: 325px;
	width: 32%;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-top: 3px solid #ff902b;
	border-radius: 5px;
	float: left;
	margin-left: 10px;
	position: relative;
}

.misc-box {
	height: 48%;
	min-height: 325px;
	width: 33%;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-top: 3px solid #f05050;
	border-radius: 5px;
	float: left;
	margin-left: 10px;
	position: relative;
}

.line-chart-box {
	height: 48%;
	min-height: 325px;
	width: calc(67% - 20px);
	background: #fff;
	border: 1px solid #e1e1e1;
	border-top: 3px solid #0073bf;
	border-radius: 5px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

.box-head {
	color: #333;
	width: 100%;
	height: 40px;
	font-size: 16px;
	padding-left: 10px;
	text-align: left;
	line-height: 40px;
}
.box-whead{
	position: relative;
	height: calc(100% -40px);
	background: #fff;
	padding: 10px;
	width: 100%;
	font-size: 14px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center;
}
.box-body {
	height: calc(100% - 80px);
	padding: 20px;
	padding-bottom: 0px;
	position: relative;
}
.donut-container{
	width: 80%;
	display: inline-block;
}
.chart-data {
	width: 30%;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right;
}

.box-foot {
	height: 40px;
	width: 90%;
	border-top: 1px solid #e1e1e1;
	margin-left: 5%;
	line-height: 40px;

}
.box-foot:hover{
	cursor: pointer;
}

.box-entry{
	height: 16%;
	width: 96%;
	margin-left: 2%;
	border-bottom: 1px solid #e1e1e1;
	padding: 1%;
	padding-left: 0px;
	font-size: 16px;
	line-height: 40px;
}
.box-entry:hover{
	height: 16%;
	width: 96%;
	margin-left: 2%;
	border-bottom: 1px solid #e1e1e1;
	padding: 1%;
	padding-left: 0px;
	font-size: 16px;
	line-height: 40px;
	cursor: pointer;
}

.box-entry-img {
	width: 80px;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    display: inline-block;
    float: left;
    margin-left: 0px;
    text-align: center;
}
.box-entry-text {
	width: 100%;
	height: 100%;
	line-height: 23px;
	padding-left: 1%;
	display: inline-block;
	float: left;
}

.chart-button{
	height: 90%;
	background: #fff;
	border: 0px;
	color: #333;
}
.chart-button:hover{
	cursor: pointer;
	background: #fff;
	border: 0px;
	color: #ccc;
}


.misc-body {
	position: absolute;
	height: calc(100%);
	background: #fff;
	width: 100%;
	font-size: 12px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center;
}
.misc-entry{
	height: 49%;
	width: 32%;
	background: #f1f1f1;
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	display: inline-block;
	color: #333;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
 	padding-top: 55px;
    background-position: center; 
	background-repeat: no-repeat;
	margin-top: 5px;
	opacity: 0.7;
}

.misc-entry:hover{
	border: 1px solid #c1c1c1;
	cursor: pointer;
	background: rgba(0, 153, 224, 0.9);
	background-position: center; 
	background-repeat: no-repeat;
	color: #f1f1f1;
	opacity: 1.0;
}

.chart-body {
	background: #fff;
	font-size: 12px;
	padding: 20px;

}

.app-entry {
	height: 20%;
    width: 96%;
    margin-left: 2%;
    border-bottom: 1px solid #e1e1e1;
    padding: 1%;
    padding-left: 0px;
    font-size: 14px;
    font-weight: 600;
    line-height: 80px;
}
.app-entry:hover {
	cursor: pointer;
}
.app-entry-text{

    padding-left: 1%;
}

 .new-badge {
    height: 10px;
    width: 10px;
    padding-left: 1px;
    border-radius: 2px;
    background: #fa7888;
    color: #fff;
    font-weight: 300;
    line-height: 10px;
    display: inline-block;
        margin-left: 5px;
}
.nav-button:hover {
	cursor: pointer;
	color: #00FFFF;
}
