@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/* light blue: #0099e0 */
* {
	box-sizing: border-box !important;
}

body {
    background-color: #fff;
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
a, a:visited,  a:active {
	text-decoration: none;
	color: inherit;
}
a:hover{
	color: #0099e0;
}

.homeWrapper{
	color: #333;
	width: 100%;
	height: 100.00vh;
	background: #f1f1f1;
	margin-top: 10%;
	text-align: center;
}


.port-client-image{
	max-width: 100%;
	height: 55px;
}

.login-bg{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 0;
	margin: 0;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
}
.login-wrapper{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 5;
}
.login-filler{
	height: 45.00vh;
}
.form-box{
	box-sizing: content-box;
	margin: 0 auto;
	width: 12%;
	padding: 2px;
	text-align: center;
	height: 10.00vh;
}
.login-button{
	border: 1px solid #f8f8f8;
	border: 0px;
	height: 60px;
	width: 60px;
	background: #f8f8f8;
	color: #333;
	background-image: url(mp-login-button.png);
    background-repeat: no-repeat;
    background-position: center; 
}
.login-button:hover{
	background: #f1f1f1;
	background-image: url(mp-login-button.png);
    background-repeat: no-repeat;
    background-position: center; 
    border: 1px solid #eee;
	cursor: pointer;
}
.text-box{
	width: 100%;
	border: 1px solid #eee;
	height: 30px;
	padding: 5px;
}


.wrapper{
	width: 100%;
	height: 100.00vh;
	overflow: hidden;
	background-image: url(nav-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.main-nav{
	height: 100%;
	width: 12%;
	min-width: 250px;
	background: rgba(0,153,224,0.8);
	float: left;
	postition: absolute;
}
.main-container{
	
	min-width: calc(100% - 250px);
	width: auto;
	height: 100%;
	float: left;
	background: #f1f1f1;
}

.logo{
	height: 80px;
	width: 100%;
	color: #fff;
	padding: 20px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding-left: 18%;
}

.logo-text{
	-webkit-font-smoothing: antialiased;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
	text-transform: uppercase;
    padding: 5px 0px;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
}
.logo-img{
	margin-top: 4px;
	height: 30px;
	display: inline-block;
	padding-right: 10px;
	float: left;
}
.nav-entry-wrapper{
	margin-top: 30px;
	height: calc(100% - 30px);
}
.nav-entry{
	text-transform: uppercase;
	width: 100%;
	height: 50px;
	text-align: center;
	float: left;
	padding: 10px 15px;
	font-size: 14px;
    font-weight: 600;
	line-height: 30px;
	text-align: center;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
	
}
.selected{
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.selected:hover{
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.4);
	cursor: pointer;
	
}
.selected-corporate{
	border-radius: 4px;
	background: rgba(255, 255, 255,1.0);
	
}
.nav-corporate{
	position: absolute;
	text-transform: uppercase;
	width:12%;
	height: 50px;
	text-align: center;
	padding: 10px 15px;
	font-size: 14px;
    font-weight: 600;
	line-height: 30px;
	color: #ccc;
	-webkit-font-smoothing: antialiased;
	font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
	bottom: 10px;
	left: 0px;
}

.top-bar{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #c1c1c1;
	font-size: 12px;
}
.top-top-bar{
	height: 80px;
	width: 80%;
	background: #fff;
	font-size: 12px;
	padding: 10px;
	padding-bottom: 2px;
	padding-left: 80px;
	display: inline-block;
	float: left;
	border-bottom: 1px solid #e1e1e1;
}
.top-account-bar{
	display: inline-block;
	width: 20%;
	height: 80px;
	padding: 10px;
	float: left;
	background: #fff;
	border-bottom: 1px solid #e1e1e1;
}
.top-project-bar{
	
}
.icon-class{
	width: 40px;
	height: 24px;
	float: left;
	margin-left: 20px;
	margin-top: 1px;
}
.entry-word{
	float: left;
}
.top-bar-box{
	display: inline-block;
	width: 10%;
	height: 60px;
	text-align: center;
	font-size: 18px;
}
.client-bar {
	width: 80%;
	height: 40px;
	background: #fff;
	border-bottom: 1px solid #c1c1c1;
}
.cb-box-wrapper {
	text-transform: uppercase;
	margin: 0 auto;
	width: 70px;
	height: 70px;
	color: #fff;
	opacity: 0.4;
	font-size: 10px;
}
.cb-box-wrapper:hover {
	color: #333;
	opacity: 1.0;
	cursor: pointer;
}

.client-bar-box {
	width: 70px;
	height: 50px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center; 
  		display: inline-block;
}
.performance-container {
	height: 100%;
	width: 100%;
	background: #f8f8f8;
	padding: 20px;
	padding-left: 40px;
}
.pr-pie-box {
	height: 25.00vh;
	min-height: 325px;
	width: 30%;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	float: left;
	padding-right: 20px;
}

.recent-task-box {
	height: 25.00vh;
	min-height: 325px;
	width: 65%;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	float: left;
	margin-left: 30px;
}

.misc-box {
	height: 25.00vh;
	min-height: 325px;
	width: 47.5%;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	float: left;
	margin-right: 30px;
	margin-top: 20px;
}





